In [1]:
# List of student ages
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# I. Sort the list and find the min and max age
ages_sorted = sorted(ages)
min_age = min(ages_sorted)
max_age = max(ages_sorted)

print(f"Sorted Ages: {ages_sorted}")
print(f"Min Age: {min_age}")
print(f"Max Age: {max_age}")

# II. Add the min age and the max age again to the list
ages_sorted.append(min_age)
ages_sorted.append(max_age)

print(f"Updated Ages with Min and Max Added: {ages_sorted}")

# III. Find the median age
n = len(ages_sorted)
if n % 2 == 1:
    median_age = ages_sorted[n // 2]
else:
    median_age = (ages_sorted[n // 2 - 1] + ages_sorted[n // 2]) / 2

print(f"Median Age: {median_age}")

# IV. Find the average age
average_age = sum(ages_sorted) / len(ages_sorted)

print(f"Average Age: {average_age}")

# V. Find the range of the ages
range_age = max_age - min_age

print(f"Range of Ages: {range_age}")

# VI. Compare the value of (min - average) and (max - average), use abs() method
min_minus_avg = abs(min_age - average_age)
max_minus_avg = abs(max_age - average_age)

print(f"Absolute Difference between Min and Average: {min_minus_avg}")
print(f"Absolute Difference between Max and Average: {max_minus_avg}")

Sorted Ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Min Age: 19
Max Age: 26
Updated Ages with Min and Max Added: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Median Age: 24.0
Average Age: 22.75
Range of Ages: 7
Absolute Difference between Min and Average: 3.75
Absolute Difference between Max and Average: 3.25

In [2]:
# List of strings
technologies = ['Python', 'Numpy', 'Pandas', 'Django', 'Flask']

# Iterate through the list and print each item
for item in technologies:
    print(item)

Python
Numpy
Pandas
Django
Flask

In [3]:
# Define the tuples
fruits = ('apple', 'banana', 'cherry')
vegetables = ('carrot', 'broccoli', 'spinach')
animal_products = ('milk', 'cheese', 'egg')

# I. Join the three tuples and assign to a variable called food_stuff_tp
food_stuff_tp = fruits + vegetables + animal_products
print(f"Food Stuff Tuple: {food_stuff_tp}")

# II. Convert the food_stuff_tp tuple to a food_stuff_lt list
food_stuff_lt = list(food_stuff_tp)
print(f"Food Stuff List: {food_stuff_lt}")

# III. Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list
n = len(food_stuff_lt)
if n % 2 == 1:
    middle_item = food_stuff_lt[n // 2]
    print(f"Middle Item: {middle_item}")
else:
    middle_items = food_stuff_lt[n // 2 - 1:n // 2 + 1]
    print(f"Middle Items: {middle_items}")

# IV. Slice out the first three items and the last three items from the food_stuff_lt list
first_three_items = food_stuff_lt[:3]
last_three_items = food_stuff_lt[-3:]
print(f"First Three Items: {first_three_items}")
print(f"Last Three Items: {last_three_items}")

# V. Delete the food_stuff_tp tuple completely
del food_stuff_tp
try:
    print(f"Food Stuff Tuple after deletion: {food_stuff_tp}")
except NameError:
    print("Food Stuff Tuple has been deleted.")

Food Stuff Tuple: ('apple', 'banana', 'cherry', 'carrot', 'broccoli', 'spinach', 'milk', 'cheese', 'egg')
Food Stuff List: ['apple', 'banana', 'cherry', 'carrot', 'broccoli', 'spinach', 'milk', 'cheese', 'egg']
Middle Item: broccoli
First Three Items: ['apple', 'banana', 'cherry']
Last Three Items: ['milk', 'cheese', 'egg']
Food Stuff Tuple has been deleted.

In [1]:
# Define the sets
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# I. Join A and B
union_A_B = A | B
print(f"Union of A and B: {union_A_B}")

# II. Find A intersection B
intersection_A_B = A & B
print(f"Intersection of A and B: {intersection_A_B}")

# III. Is A subset of B
is_A_subset_of_B = A.issubset(B)
print(f"Is A a subset of B: {is_A_subset_of_B}")

# IV. Are A and B disjoint sets
are_disjoint = A.isdisjoint(B)
print(f"Are A and B disjoint sets: {are_disjoint}")

# V. Join A with B and B with A
union_A_B_reversed = B | A
print(f"Union of B and A: {union_A_B_reversed}")

# VI. Symmetric difference between A and B
symmetric_difference_A_B = A ^ B
print(f"Symmetric Difference between A and B: {symmetric_difference_A_B}")

# VII. Delete the sets completely
del A
del B

try:
    print(A)
except NameError:
    print("Set A has been deleted.")

try:
    print(B)
except NameError:
    print("Set B has been deleted.")

Union of A and B: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection of A and B: {4, 5}
Is A a subset of B: False
Are A and B disjoint sets: False
Union of B and A: {1, 2, 3, 4, 5, 6, 7, 8}
Symmetric Difference between A and B: {1, 2, 3, 6, 7, 8}
Set A has been deleted.
Set B has been deleted.

In [2]:
# Create an empty dictionary called dog
dog = {}

# Add name, color, breed, legs, and age to the dog dictionary
dog['name'] = 'Buddy'
dog['color'] = 'Brown'
dog['breed'] = 'Labrador'
dog['legs'] = 4
dog['age'] = 3

# Print the dog dictionary
print(dog)

{'name': 'Buddy', 'color': 'Brown', 'breed': 'Labrador', 'legs': 4, 'age': 3}

In [3]:
# Create a student dictionary and add various keys
student = {
    'first_name': 'John',
    'last_name': 'Doe',
    'gender': 'Male',
    'age': 21,
    'marital_status': 'Single',
    'skills': ['Python', 'Data Analysis'],
    'country': 'USA',
    'city': 'New York',
    'address': '123 Main St'
}

# I. Get the length of the student dictionary
length_of_student_dict = len(student)
print(f"Length of the student dictionary: {length_of_student_dict}")

# II. Get the value of skills and check the data type, it should be a list
skills = student['skills']
print(f"Skills: {skills}")
print(f"Data type of skills: {type(skills)}")  # It should output <class 'list'>

# III. Modify the skills values by adding one or two skills
student['skills'].append('Machine Learning')
student['skills'].append('Web Development')
print(f"Updated Skills: {student['skills']}")

# IV. Get the dictionary keys as a list
keys_list = list(student.keys())
print(f"Dictionary Keys: {keys_list}")

# V. Get the dictionary values as a list
values_list = list(student.values())
print(f"Dictionary Values: {values_list}")

# VI. Change the dictionary to a list of tuples using items() method
student_items = list(student.items())
print(f"Dictionary as a list of tuples: {student_items}")

# VII. Delete one of the items in the dictionary
del student['marital_status']
print(f"Dictionary after deleting 'marital_status': {student}")

# VIII. Delete the entire student dictionary
del student
try:
    print(student)
except NameError:
    print("The student dictionary has been deleted.")

Length of the student dictionary: 9
Skills: ['Python', 'Data Analysis']
Data type of skills: <class 'list'>
Updated Skills: ['Python', 'Data Analysis', 'Machine Learning', 'Web Development']
Dictionary Keys: ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
Dictionary Values: ['John', 'Doe', 'Male', 21, 'Single', ['Python', 'Data Analysis', 'Machine Learning', 'Web Development'], 'USA', 'New York', '123 Main St']
Dictionary as a list of tuples: [('first_name', 'John'), ('last_name', 'Doe'), ('gender', 'Male'), ('age', 21), ('marital_status', 'Single'), ('skills', ['Python', 'Data Analysis', 'Machine Learning', 'Web Development']), ('country', 'USA'), ('city', 'New York'), ('address', '123 Main St')]
Dictionary after deleting 'marital_status': {'first_name': 'John', 'last_name': 'Doe', 'gender': 'Male', 'age': 21, 'skills': ['Python', 'Data Analysis', 'Machine Learning', 'Web Development'], 'country': 'USA', 'city': 'New York', 'address': '123 Main St'}
The student dictionary has been deleted.

In [4]:
# Define the person dictionary
person = {
    'first_name': 'Asabeneh',
    'last_name': 'Yetayeh',
    'age': 250,
    'country': 'Finland',
    'is_married': True,
    'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address': {
        'street': 'Space street',
        'zipcode': '02210'
    }
}

# I. Check if the person dictionary has the 'skills' key, if so print out the middle skill in the skills list.
if 'skills' in person:
    skills = person['skills']
    middle_index = len(skills) // 2
    middle_skill = skills[middle_index]
    print(f"Middle skill: {middle_skill}")

# II. Check if the person dictionary has the 'skills' key, if so check if the person has 'Python' skill and print out the result.
if 'skills' in person:
    has_python_skill = 'Python' in person['skills']
    print(f"Has Python skill: {has_python_skill}")

# III. Determine the person's job title based on their skills
if 'skills' in person:
    skills = set(person['skills'])

    if skills == {'JavaScript', 'React'}:
        print('He is a front end developer.')
    elif skills >= {'Node', 'Python', 'MongoDB'}:
        print('He is a backend developer.')
    elif skills >= {'React', 'Node', 'MongoDB'}:
        print('He is a fullstack developer.')
    else:
        print('Unknown title.')

# IV. If the person is married and lives in Finland, print their information in the specified format.
if person['is_married'] and person['country'] == 'Finland':
    first_name = person['first_name']
    last_name = person['last_name']
    country = person['country']
    print(f"{first_name} {last_name} lives in {country}. He is married.")

Middle skill: Node
Has Python skill: True
He is a backend developer.
Asabeneh Yetayeh lives in Finland. He is married.

In [6]:
# Define the dictionary mapping month numbers to seasons
month_to_season = {
    1: 'Winter',
    2: 'Winter',
    3: 'Spring',
    4: 'Spring',
    5: 'Spring',
    6: 'Summer',
    7: 'Summer',
    8: 'Summer',
    9: 'Autumn',
    10: 'Autumn',
    11: 'Autumn',
    12: 'Winter'
}

# Input: Get the month number from the user
month = int(input("Enter the month number (1-12): "))

# Get the season based on the month number
season = month_to_season.get(month, "Invalid month number")

# Output: Print the season name
print(f"The season for month {month} is: {season}")

Enter the month number (1-12): 1
The season for month 1 is: Winter